
<h2 class="page-heading"> Product Info</h2> 
<div style="border:1px solid lightgray;">
<div id="cardDiv" >
    <div *ngIf="showAllProduct">
    <p-dataView #dv [value]="productDetails" [paginator]="true" [rows]="9" filterBy="name"
         layout="grid">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-jc-md-between" style="text-align: left;">
                 <strong> Safest Cars in India</strong> 
            </div>
        </ng-template> 
        <ng-template let-product pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top"> </div>
                    <div class="product-grid-item-content">
                        <img [src]="'assets/productImages/' + product.name + product.image + '.jpg'" [alt]="product.name"/>
                        <div class="product-name">{{product.companyName + ' ' + product.name}}</div>
                        <span class="product-price">&#x20B9; {{product.minPrice + ' - ' + product.maxPrice  + ' ' +  product.priceUnit}}</span>
                        <br> 
                        <div class="product-feature">{{product.feature1 + ' &bull; ' + product.feature2  + ' &bull; ' +  product.feature3}}</div> 
                         <a class="product-detailLink"  (click)="showProductDetails(product)" > View Details </a>      
                    </div>
                    <div class="product-grid-item-bottom" > 
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<!-- Below is the div for showcasing the specific product details -->
<div *ngIf="!showAllProduct">
    <a (click)="loadProductDetails()" style="cursor: pointer;"> View All Products </a> <br> <br>
    <img [src]="'assets/productImages/' + currentProductDetails.name + currentProductDetails.image + '.jpg'" [alt]="currentProductDetails.name"/> 
    <br>
    Company: {{currentProductDetails.companyName}} <br>
    Name: {{currentProductDetails.name}} <br>
    Minimum Price: {{currentProductDetails.minPrice+ ' ' +  currentProductDetails.priceUnit}} <br>
    Maximum Price: {{currentProductDetails.maxPrice + ' ' +  currentProductDetails.priceUnit}}  <br>
  Feature 1: {{currentProductDetails.feature1}} <br>
  Feature 2: {{currentProductDetails.feature2}}  <br>
  Feature 3: {{currentProductDetails.feature3}} <br>
</div>

</div>


</div>

