
.content {
    display: flex;
    margin: 102px auto 32px;
    padding: 0 16px;
    /* max-width: 960px; */
    width: 85%;
    min-width: 85%;
    max-width: 85%;
    flex-direction: column;
    align-items: center;
  }


    #cardDiv {
    background: var(--surface-e);
    /* padding: 1rem; */
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 2rem;
  }

  .p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.product-name {
    font-size: 1.4rem;
    /* font-weight: 700; */
}

.product-feature{
 padding :  0.5em 0 0.5em 0; /* top left bottom right */
 
}

 

.product-detailLink{
    /* box-shadow: 1px 2px 1px 1px rgba(0,0,0,.2)   ; */
    border:1px solid lightgray;
    width:85%;
    display: inline-block;
    padding: 1em;
    margin: 0.5em 0 1em 0;
    text-decoration: none;
    color:orangered;
    
}
.product-detailLink:hover{ 
    color:black;
    border:1px solid orangered;
}

.product-description {
    margin: 0 0 1rem 0;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}

 
 

.product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    /* height: 100%; */
    
}

.product-grid-item .product-grid-item-top,
.product-grid-item  .product-grid-item-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 
    .product-grid-item img {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        /* margin: 2rem 0; */
        height: 230px;
    }

    .product-grid-item .product-grid-item-content, .product-grid-item  .product-grid-item-bottom{
        text-align: center;
    }

    .product-grid-item .product-price {
        font-size: 1.5rem;
        font-weight: 600;
    }
 
 

 